<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello App - App</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> -->
    <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <script type="text/javascript" src="https://www.symphony.com/resources/api/v1.0/symphony-api.js" charset="utf-8"></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src="app.bundle.js" charset="utf-8"></script>
</head>
<style>
html {
    background: #ffffff;
}
</style>

<body ng-app="myApp" ng-controller="myCtrl">
    <h1>Welcome to the Hello Application!</h1>
    <button id="increment">Increment unread count</button>
    <div id="cashtag"></div>
    <h1 id="test">{{test}}</h1>
    <md-input-container class="md-block" flex-gt-sm>
        <label>State</label>
        <md-select ng-model="user.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
            </md-option>
        </md-select>
    </md-input-container>
    <p>{{user.state}}</p>
</body>

</html>
